/*
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;
*/
*, *::after, *::before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 18px;
}
:root{
    --font-primary: 'Space Mono', monospace;
    --font-footer:  'Montserrat', sans-serif;
    --font-header:  'Inconsolata', monospace;
    --color-primary: #333333;
    --color-secondary: #4F4F4F;
    --color-white: #FFFFFF;
    --color-footer: #BDBDBD;
    --padding-mobile: 1.27rem;
    --padding-destop: 4.27rem;
}
.container{
    width: 100%;
    padding-left: var(--padding-mobile);    
}
header{
    display: flex;
    font-family: var(--font-header);
    margin-top: 1.11rem;
    margin-bottom: 3.55rem;

}
.title{
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.33rem;
    line-height: 1.38rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}
main{
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-family: var(--font-primary);
    margin-bottom: 6.33rem;
}
.illustration{
    padding-right: var(--padding-mobile);
    display: flex;
    justify-content: center;
}
.illustration img{
    height: 13.22rem;
    width: auto;
}
.heading{
    color: var(--color-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 2.66rem;
    line-height: 3.94rem;
    letter-spacing: -0.035em;
    margin-bottom: 1.66rem;
}
.message{
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.035em;
    margin-bottom: 3.66rem;
}
.btn-home{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 0.77rem;
    width: 12rem;
    height: 3.77rem;
}
footer{
    padding-right: var(--padding-mobile);
    margin-bottom: 1.33rem;
}
.author{
    color: var(--color-footer);
    font-family: var(--font-footer);
    font-style: normal;
    font-weight: 500;
    font-size: 0.77rem;
    line-height: 0.94rem;
    text-align: center;
}
.author a{
    text-decoration: none;
    color: var(--color-footer);
    font-style: normal;
    font-weight: 700;
}

