/*
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;
*/
*, *::after, *::before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 18px;
}
:root{
    --font-primary: 'Space Mono', monospace;
    --font-footer:  'Montserrat', sans-serif;
    --font-header:  'Inconsolata', monospace;
    --color-primary: #333333;
    --color-secondary: #4F4F4F;
    --color-white: #FFFFFF;
    --color-footer: #BDBDBD;
    --padding-mobile: 1.27rem;
    --padding-destop: 4.27rem;
}
.container{
    width: 100%;
    padding-left: var(--padding-mobile);    
}
header{
    font-family: var(--font-header);
    margin-top: 1.11rem;
    margin-bottom: 6.743vh;
}
.title{
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.33rem;
    line-height: 1.38rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}
main{
    display: flex;
    flex-direction: column;
    gap: 6.322vh;
    font-family: var(--font-primary);
    margin-bottom: 12.012vh;
}
.illustration{
    padding-right: var(--padding-mobile);
    display: flex;
    justify-content: center;
}
.illustration img{
    height: 13.22rem;
    width: auto;
}
.heading{
    color: var(--color-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 2.66rem;
    line-height: 3.94rem;
    letter-spacing: -0.035em;
    margin-bottom: 3.161vh;
}
.message{
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.035em;
    margin-bottom: 6.954vh;
}
.btn-home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 0.77rem;
    width: 12rem;
    height: 3.77rem;
}
.btn-home:hover{
    background-color: #4b4b4b;
}
footer{
    padding-right: var(--padding-mobile);
    margin-bottom: 1.33rem;
}
.author{
    color: var(--color-footer);
    font-family: var(--font-footer);
    font-style: normal;
    font-weight: 500;
    font-size: 0.77rem;
    line-height: 0.94rem;
    text-align: center;
}
.author a:hover{
 text-decoration: underline;
}
.author a{
    text-decoration: none;
    color: var(--color-footer);
    font-style: normal;
    font-weight: 700;
}
@media screen and (min-width: 992px){
    .container{
        padding-right: var(--padding-destop);
        padding-left: var(--padding-destop);
    }
    header{
        margin-top: 3.703vh;
        margin-bottom: 18.518vh;
    }
    main{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        gap: none;
        margin-bottom: 28.518vh;
    }
    .illustration{
        padding-right: var(--padding-destop);
    }
    .illustration img{
        width: 37.445vw;
        height: auto !important;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .heading{
        font-size: 3.55rem;
        line-height: 5.27rem;
        margin-bottom: 3.33vh;
    }
    .message{
        font-size: 1.33rem;
        line-height: 2rem;
        letter-spacing: -0.035em;
        margin-bottom: 5.925vh;
        width: 21.16rem;
    }
    footer{
        padding: none;
    }
}

